@import "commont";


html,
body {
    width: 100%;
    height: 100%;
}

.banner-box {
    width: 100%;
    height: 100%;
    background: url(../img/pexels-francesco-ungaro-281260.jpg) repeat-x;
    overflow: hidden;

    .boxcenter {
        width: 835px;
        
        height: 500px;
        margin: 100px auto;
        background-color: #ffffff;
        border-radius: 20px;
    }
}

.boxcenter {
    display: flex;
    justify-content: center;
    align-items: center;

    .join {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 200px;
        border: 1px solid #0079fe;
        margin: 10px;
        border-radius: 380px/200px;
        cursor: pointer;

        span {
            color: #0079fe;
        }
    }

    .invite {
        @extend .join;
    }

}